@charset "utf-8";
// If need, change your variables before importing Bulma
@import './_variables.scss';

$title-color: $brand-primary;

@import '~bulma/bulma.sass';

/* Links */
a {
  color: $brand-primary;
  text-decoration: none;
  transition: 0.2s ease-out;
}

a:hover,
a:focus {
  color: $brand-primary-light;
}
