@charset "utf-8";
// If need, change your variables before importing Bulma
@import './_variables.scss';

$title-color: $brand-primary;

@import '~bulma/bulma.sass';

/* Links */
a {
  color: $brand-primary;
  text-decoration: none;
  transition: 0.2s ease-out;
}

a:hover,
a:focus {
  color: $brand-primary-light;
}

.is-vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.fi-icon {
  stroke: currentColor;
  stroke-width: 0.1rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: baseline;
}
