.container {
  display: flex;
  align-items: center;
  margin: 0 auto 12px auto;
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 18px;
  margin: 0;
}

.image {
  flex: 0 0 96px;
  width: 156px;
  height: 156px;
  margin: 0;
  padding-right: 10px;
}

.text {
  margin: 0;
}

.description {
  text-align: left;
  margin: 0;
  padding: 0;
}

.link {
  margin: 0;
  padding: 0;
}

.techStack {
  margin: 0;
  padding: 0;
}
